/*......... Import source ..........*/
@import '../source/_mixins.less';
@import '../source/_typography.less';
@import '../source/_variable.less';
/*......... End import source ..........*/

@media screen and (min-width:320px) {

    header {
        .flex-main-center;
        .opensans-regular;
        padding: 12px 0;
        color: @gray-2;
        font-size: 12px;
        background-color: @black-0;
    }

    .header {
        &-welcome {
            letter-spacing: 0.2px;
        }
        
        &-container {
            .flex-main-arround;
            width: 100%;
            margin-top: 10px;
        }

        &-link {
            // display: none;
            text-transform: capitalize;
            color: @gray-2;
        }
    }
}

@media screen and (min-width: 768px) {

    header {
        .flex-main-between;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        &-container {
            width: 250px;
            margin-top: 0;
        }

        &-link {
            &-element {
                margin-right: 5px;
            }

            &-first {
                margin-right: 30px;
            }
        }
    }
}

@media screen and (min-width:1024px) {

    header {
        font-size: 15px;
    }

    .header {
        &-container {
            width: auto;
        }
    }
}

@media screen and (min-width:1440px) {

    header {
        padding-bottom: 15px;

        font-size: 14px;
    }
}