.flex-wrap() {
    display: flex;
    flex-wrap: wrap;
}

.flex-main-center() {
    .flex-wrap;
    justify-content: center;
}

.flex-main-arround() {
    .flex-wrap;
    justify-content: space-around;
}

.flex-main-between() {
    .flex-wrap;
    justify-content: space-between;
}

.flex-main-start() {
    .flex-wrap;
    justify-content: flex-start;
}

.flex-main-end() {
    .flex-wrap;
    justify-content: flex-end;
}

.flex-cross-center() {
    .flex-wrap;
    align-items: center;
}

.flex-cross-start() {
    .flex-wrap;
    align-items: flex-start;
}

.flex-cross-end() {
    .flex-wrap;
    align-items: flex-end;
}