@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.montserrat() {
  font-family: Montserrat,sans-serif;
}

.montserrat-bold() {
  .montserrat;
  font-weight: 700;
  font-style: normal;
}

.montserrat-regular() {
  .montserrat;
  font-weight: 400;
  font-style: normal;
}

.opensans() {
  font-family: OpenSans,sans-serif;
}

.opensans-bold() {
  .opensans;
  font-weight: 700;
  font-style: normal;
}

.opensans-regular() {
  .opensans;
  font-weight: 400;
  font-style: normal;
}

.pacifico() {
  font-family: Pacifico,sans-serif;
}

.pacifico-regular() {
  .pacifico;
  font-weight: 400;
  font-style: normal;
}