@white-0: #FFF;
@white-1: #F7F7F7;
@white-2: #D1D1D1;
@white-3: #FEFEFE;

@black: #000;
@black-0: #222;

@gray-0: #C0C0C0;
@gray-1: #888;
@gray-2: #525252;
@gray-3: #424242;
@gray-4: #999;
@gray-5: #828282;
@gray-6: #DDD;
@gray-7: #EDEDED;
@gray-8: #616161;

@red-0: #FF4628;

@purple-0: #8262B5;
@hover-color: #8262b5;

@yellow-0: #F8BA04;

@blue-0: #A1D1DD;

@text-color: #525252;
@number : #999999;